<mat-toolbar color="primary">
  <div style="margin-right: 50px">
    <a routerLink="/recipes">Recipe Book</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start">
    <ul class="navigation-items" fxLayout fxLayoutGap="15px">
      <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a> </li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <button mat-icon-button [matMenuTriggerFor]="matMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #matMenu>
      <button mat-menu-item (click)="onSaveData()">
        <mat-icon>save</mat-icon>
        <span>Save Data</span>
      </button>
      <button mat-menu-item (click)="onFetchData()">
        <mat-icon>download</mat-icon>
        <span>Load Data</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>



