<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-3 form-group">
<!--          <label for="name">Name</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            id="name"-->
<!--            class="form-control"-->
<!--            name="name"-->
<!--            required-->
<!--            ngModel-->
<!--          >-->
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              name="name"
              required
              ngModel
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-sm-2 form-group">
<!--          <label for="amount">Amount</label>-->
<!--          <input-->
<!--            id="amount"-->
<!--            class="form-control"-->
<!--            type="number"-->
<!--            name="amount"-->
<!--            required-->
<!--            pattern="^[1-9]+[0-9]*$"-->
<!--            ngModel-->
<!--          >-->
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input
              matInput
              name="amount"
              required
              pattern="^[1-9]+[0-9]*$"
              ngModel
              type="number"
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.valid"

          >
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <button
            mat-raised-button
            type="button"
            color="warn"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button mat-raised-button type="button" color="accent" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
